<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/25/25694.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../Static/home.css">
	<title>Jobshala</title>
</head>
<body>
  <header id="jobshala">
  	<h1 class="heading">Jobshala</a></h1>
  	<nav>
			<ul class="horizontal-list text-center">
				<li><a href="#">Home</a> </li>
				<li><a href="#about">About</a> </li>
				<li><a href="#Job_Vacancies">Job Vacancies</a> </li>
				<li><a href="#contach">Contact</a> </li>
			</ul>
		</nav>
  	<img src="https://adoptostaging.blob.core.windows.net/media/what-is-job-seeker-ReZ3Gw.PNG" alt="Job Seekers">
  </header>
  <main>
  	<section id="about" class="light_shade">
  		<h1 class="heading">About</h1>
  		<div>
  			<h2 style="letter-spacing:0.3px; font-family: serif;">Welcome to our JobShala App!</h2>

					<p>At JobShala, we understand that finding the right job can be a challenging and time-consuming process. That's why we've created a comprehensive job search platform dedicated to empowering job seekers like you. Our app is designed to simplify your job search, provide personalized recommendations, and help you land your dream job.</p>

					<ul>
						<li><p><b>Key Features and Benefits:</b></p></li>
						<ol>

					<li><p><b>Advanced Search and Filtering:</b> Our app offers advanced search and filtering options to help you narrow down your job search based on location, industry, salary range, and job type. With our precise filters, you can easily find the opportunities that align with your skills and career goals.</p></li>
					<li><p><b>Personalized Job Recommendations:</b> We believe in the power of personalized recommendations. Our intelligent algorithms analyze your skills, qualifications, and preferences to suggest relevant job openings tailored specifically to you. Save time and discover opportunities you may have overlooked.</p></li>
					<li><p><b>Application Management Made Easy:</b> Managing your job applications is hassle-free with our app. Save your favorite jobs, track application statuses, and organize your application materials all in one place. Stay organized and never miss an opportunity.</p></li>
					<li><p><b>Insights into Companies:</b> Making informed decisions about potential employers is crucial. Our app provides comprehensive company profiles, including detailed information about the company's culture, values, employee reviews, and ratings. Get a glimpse into the company before applying and assess its fit with your career goals.</p></li>
  		</div>
  	</section>
  	<section id="Job_Vacancies" class="dark_shade">
  		<h1 class="heading">Job Vacancies</h1>
  	</section>
  	<section id="contact">
  		
  	</section>
  	
  </main>
</body>
</html>